In [50]:
import pandas as pd

In [51]:
data=pd.read_csv('Medicine_Details.csv')

In [52]:
print(data.dtypes)

Medicine Name         object
Composition           object
Uses                  object
Side_effects          object
Image URL             object
Manufacturer          object
Excellent Review %     int64
Average Review %       int64
Poor Review %          int64
dtype: object

In [53]:
data.head(1)

,Medicine Name,Composition,Uses,Side_effects,Image URL,Manufacturer,Excellent Review %,Average Review %,Poor Review %
0,Avastin 400mg Injection,Bevacizumab (400mg),Cancer of colon and rectum Non-small cell lun...,Rectal bleeding Taste change Headache Noseblee...,"https://onemg.gumlet.io/l_watermark_346,w_480,...",Roche Products India Pvt Ltd,22,56,22

In [54]:
data[['Main Element', 'Numeric Value']] = data['Composition'].str.extract(r'([a-zA-Z\s]+)\s*\((\d+mg)\)')

In [55]:
data = data.drop(columns=['Composition'])

In [56]:
data= data[['Medicine Name', 'Main Element', 'Numeric Value', 'Uses', 'Side_effects', 
         'Image URL', 'Manufacturer', 'Excellent Review %', 'Average Review %', 'Poor Review %']]

In [57]:
data.head(3)

,Medicine Name,Main Element,Numeric Value,Uses,Side_effects,Image URL,Manufacturer,Excellent Review %,Average Review %,Poor Review %
0,Avastin 400mg Injection,Bevacizumab,400mg,Cancer of colon and rectum Non-small cell lun...,Rectal bleeding Taste change Headache Noseblee...,"https://onemg.gumlet.io/l_watermark_346,w_480,...",Roche Products India Pvt Ltd,22,56,22
1,Augmentin 625 Duo Tablet,Amoxycillin,500mg,Treatment of Bacterial infections,Vomiting Nausea Diarrhea Mucocutaneous candidi...,"https://onemg.gumlet.io/l_watermark_346,w_480,...",Glaxo SmithKline Pharmaceuticals Ltd,47,35,18
2,Azithral 500 Tablet,Azithromycin,500mg,Treatment of Bacterial infections,Nausea Abdominal pain Diarrhea,"https://onemg.gumlet.io/l_watermark_346,w_480,...",Alembic Pharmaceuticals Ltd,39,40,21

In [58]:
data.columns

Index(['Medicine Name', 'Main Element', 'Numeric Value', 'Uses',
       'Side_effects', 'Image URL', 'Manufacturer', 'Excellent Review %',
       'Average Review %', 'Poor Review %'],
      dtype='object')

In [59]:
data= data[['Medicine Name', 'Main Element', 'Numeric Value', 'Excellent Review %', 'Average Review %', 'Poor Review %']]

In [60]:
data.head(5)

,Medicine Name,Main Element,Numeric Value,Excellent Review %,Average Review %,Poor Review %
0,Avastin 400mg Injection,Bevacizumab,400mg,22,56,22
1,Augmentin 625 Duo Tablet,Amoxycillin,500mg,47,35,18
2,Azithral 500 Tablet,Azithromycin,500mg,39,40,21
3,Ascoril LS Syrup,NaN,NaN,24,41,35
4,Aciloc 150 Tablet,Ranitidine,150mg,34,37,29

In [61]:
data.isnull().sum()

Medicine Name            0
Main Element          3710
Numeric Value         3710
Excellent Review %       0
Average Review %         0
Poor Review %            0
dtype: int64

In [62]:
data= data.dropna(subset=['Main Element'])

In [64]:
data['Numeric Value(in mg)'] = data['Numeric Value'].str.extract('(\d+)').astype(int)

In [ ]:
data.head(6)

,Medicine Name,Main Element,Numeric Value,Excellent Review %,Average Review %,Poor Review %
0,Avastin 400mg Injection,Bevacizumab,400,22,56,22
1,Augmentin 625 Duo Tablet,Amoxycillin,500,47,35,18
2,Azithral 500 Tablet,Azithromycin,500,39,40,21
4,Aciloc 150 Tablet,Ranitidine,150,34,37,29
5,Allegra 120mg Tablet,Fexofenadine,120,35,42,23
6,Avil 25 Tablet,Pheniramine,25,40,34,26